<br>

        <div class="span4">
            <br>    

            <div class="span4" align="right">

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="span3 borda">
                    <br>
                    <br>

                    <a href="ListaCliente.jsp"><h4>Listar </h4>
                        <br>
                        <br>
                        <br>


                        <img src="img/herm.jpg"/>
                        <br>
                        <br>


                    </a>

                </div>



            </div>

        </div>

        <div class="span5">
            <div class="span11">
                <img src="img/imagem1.png" width="480"/>
            </div>

        </div>
        <div class="span5">
            <div class="span11">
                <img src="img/imagem.jpg" width="480"/></div>



        </div>

        
        <div class="span9" >            
        </div>
        


        <div class="span12">

            <h1 align="center">Cadastro: </h1><br>
            <div class=" span12 borda" align="center">